.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container > .form-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 270px;
}

.container > .form-container h2 {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 18px;
}

.container > .form-container input[type="text"],
.container > .form-container input[type="password"],
.container > .form-container button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
}

.container > .form-container button {
    background-color: #0074d9;
    color: #fff;
    border: none;
    cursor: pointer;
}

.container > .form-container button:hover {
    background-color: #0056b3;
}

.registration-text {
    text-align: center;
    margin-top: 20px;
}
