.search-box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    width: 50%; /* Ajusta este valor para cambiar el tamaño del cuadro de búsqueda */
    margin-left: auto;
    margin-right: auto;
}


.search-box input[type="text"],
.apply-filter-button {
    border: 2px solid #ccc;
    border-radius: 5px;
    padding: 10px;
}

.search-box input[type="text"] {
    margin-right: 5px;
    width: calc(100% - 85px);
    overflow: auto;
}

.apply-filter-button {
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    width: 100px;
}

.apply-filter-button:hover {
    background-color: #0056b3;
}

.clear-filter-button {
  border: 2px solid #ccc;
  border-radius: 5px;
  background-color: red;
  color: white;
  padding: 5px 10px;
  cursor: pointer;
  width: 200px;
  height: 47px;
  margin-left: 10px;
}

.clear-filter-button:hover {
  background-color: darkred;
}

.publication-summary-box {
    width: 50%;
    margin: 30px auto 0;
    padding: 20px;
    border: 2px solid #000;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

button {
    display: inline-block;
    border: 2px solid gray;
    border-radius: 5px; /* Ajusta este valor para cambiar cuánto se redondean los bordes */
    padding: 10px 20px;
    font-size: 16px;
    background-color: transparent;
    transition: background-color 0.3s ease;
    margin: 3px;
}

button:hover {
    background-color: gray;
    color: #fff;
}