<mat-dialog-content class="mat-typography">
  <h2 mat-dialog-title>Buscar mensajes por etiqueta</h2>
  <div class="search-box w-100">
    <mat-form-field class="example-form-field w-100">
      <mat-label>Etiqueta</mat-label>
      <input matInput #searchMessageInput>
      <button matSuffix mat-icon-button aria-label="Clear" (click)="buscarMensajePorEtiqueta(searchMessageInput.value)">
        <mat-icon>search</mat-icon>
      </button>
    </mat-form-field>
  </div>
  <div *ngIf="mensajes.length >0">
    <h3>Mensajes conencontrados: {{mensajes.length}}</h3>
    <div class="card mb-3" *ngFor="let mensaje of mensajes">
      <app-mensaje [mensaje]="mensaje"></app-mensaje>
    </div>
  </div>
  <div *ngIf="mensajes.length ==0">
    <h3>No se encontraron mensajes</h3>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial class="btn btn-primary btn-rounded">Cerrar</button>
</mat-dialog-actions>


