<mat-toolbar class="toolbar">
  <span>MicroApp</span>
  <span class="example-spacer"></span>
  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon" routerLink="/profile">
    <mat-icon>home</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon" routerLink="/my-publications">
    <mat-icon>account_circle</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon" routerLink="/my-publications">
    <mat-icon>article</mat-icon>
  </button>
</mat-toolbar>
