.container {
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    border: 2px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative;
}

.title-link {
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
}

.caption {
    margin-top: 10px;
}

.check-box {
    position: relative;
    top: -85px;
    right: -935px;
    width: 30px;
    height: 30px;
    background-color: #AA58;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(100%, 0);
}

.check-box i {
    color: white;
    font-size: 20px;
}
