<app-nav-bar></app-nav-bar>

<div class="container">
    <div class="post" *ngIf="!isEditMode">
        <h1 class="post-title">{{ publication.title }}</h1>
        <p class="post-description">{{ publication.description }}</p>
        <img [src]="imageDataUrl" alt="Imagen de la Publicación" class="post-image">
        <button *ngIf="editButton" (click)="toggleEditMode()" class="edit-button">Editar</button>
    </div>

    <div class="edit-post" *ngIf="isEditMode">
        <input type="text" [(ngModel)]="publication.title" placeholder="Título">
        <textarea [(ngModel)]="publication.description" placeholder="Descripción"></textarea>
        <div class="container-buttons">
          <div class="left-buttons">
            <label for="file-upload-button" class="custom-file-upload">
              {{ fileLabel }}
              <input type="file" id="file-upload-button" (change)="onFileChanged($event)" accept=".png">
            </label>
            <button *ngIf="newImage" (click)="cancelFileSelection()" class="cancel-selection-button">Cancelar selección</button>
          </div>
          <div class="right-buttons">
            <button (click)="updatePublication()" class="update-button">Actualizar</button>
           <button (click)="cancelEditMode()" class="cancel-button">Cancelar</button>
          </div>
        </div>
    </div>
</div>
