body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    position: relative;
}

.post {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}

.post-title {
    font-size: 2em;
    margin-bottom: 10px;
}

.post-description {
    margin-bottom: 10px;
    font-size: 1.5em;
}

.post-image {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    flex-shrink: 0;
}

.edit-button {
    position: absolute;
    top: 30px;
    right: 30px;
    background-color: #AA58;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 8px 12px;
    cursor: pointer;
    font-size: 16px;
}

.edit-button:hover {
    background-color: #893c;
}

.edit-post {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
    flex-direction: column;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.edit-post input[type="text"],
.edit-post textarea {
    width: 100%;
    margin-bottom: 10px;
    padding: 8px;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.container-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    width: 100%;
}

.left-buttons {
    margin-left: auto;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    width: 500px;
    justify-content: left;
    gap: 20px;
}

.file-upload-button {
    background-color: #AA5858;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 8px 12px;
    cursor: pointer;
    font-size: 16px;
}

.file-upload-button:hover {
    background-color: #893c3c;
}

.right-buttons {
    margin-right: auto;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    width: 500px;
    justify-content: right;
    gap: 20px;
}

.cancel-selection-button {
    background-color: #AA58;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 8px 12px;
    cursor: pointer;
    font-size: 16px;
}

.cancel-selection-button:hover {
    background-color: #893c;
}

#file-upload {
    display: none;
}

.update-button,
.cancel-button {
    background-color: #AA58;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 8px 12px;
    cursor: pointer;
    font-size: 16px;
}

.cancel-button {
    background-color: #ccc;
}

.update-button:hover,
.cancel-button:hover {
    background-color: #893c;
}
